SPRING_PROFILES_ACTIVE=dev
PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:5500,http://localhost:8080
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax

DATABASE_URL=jdbc:postgresql://your-neon-host/neondb?sslmode=require
DATABASE_USERNAME=your_username
DATABASE_PASSWORD=your_password

JWT_BASE64_SECRET=your_base64_secret
JWT_VALIDITY_IN_SECONDS=3600
JWT_REFRESH_VALIDITY_IN_SECONDS=604800
